@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "vendor/uPlot.css";

.u-series th {
  display: inline-grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
}

.u-legend .u-marker {
  border-radius: 50%;
}
