<main class="container mx-auto">
  <h1 class="text-3xl text-center mt-4 mb-4">
    <.link navigate={~p"/"} class="hover:text-blue-500">Nerves Metal Detector</.link>
  </h1>

  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>
